<div class="cart flex-col">
  <div>Your Cart</div>
  <div class="cart-items padding-x-10 padding-y-15">
    <ng-container *ngIf="cartItems.length else noItems">
      <div *ngFor="let item of cartItems">
        <div class="flex justify-between">
          <div>{{item.name}}</div>
          <div>{{item.price}}$</div>
        </div>
      </div>
      <hr />
      <div class="flex justify-between">
        <div>Sum</div>
        <span>{{sumCart}}$</span>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noItems>
  <div>
    No items
  </div>
</ng-template>